*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;